.page404 {
    text-align: center;
    .main-title {
        font-size: 80px;
        margin-bottom: 20px;
        line-height: normal;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        font-weight: 700;
    }
    p{
        font-size: 18px;
        margin-bottom: 40px;
    }
}